<div class="menu_wrap">
    <div class="menu_wrap_text">Меню</div>
    <ul>
        <li><a href="{% url 'main:main' %}">Главная</a></li>
        <li><a href="{% url 'products:main' %}">Каталог</a>
            <ul>
                <li><a href="{% url 'main:category_list' %}">Все категории</a></li>
                {% for category in menu %}
                    <li><a href="{% url 'main:category_list' pk=category.id %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li><a href="{% url 'main:contacts' %}">Контакты</a></li>
        <li><a href="{% url 'main:cart_detail' %}">Корзина</a></li>
    </ul>
</div>