{% extends 'categories/base.html' %}
{% load static %}

{% block content %}


    <div class="block">
        <h1>Игры из категории "{{ object.name }}"</h1>
    </div>
    <div class="catalo_wrap">
    <div class="content_right_product">
        {# Вместо object.product_set.all используем object.category.all, т.к. #}
        {# в модели Product в поле category стоит related_name='category' #}
        {% for product in page_object %}
            {% include 'server/includes/inc_product.html' with id=product.id status=product.status image=product.image name=product.name price_now=product.price_now price_old=product.price_old %}
        {% endfor %}
    </div>
    </div>

   {% include 'server/includes/inc_pagination.html' with page=page_object paginator=page_object.paginator %}
{% endblock %}