{% extends 'categories/base.html' %}
{% load static %}

{% block content %}
    <hr>
    <h1>{{ object.name }}</h1>
    <div class="product_img_and_short_descroption">
        {% if object.image %}
            <a href="{{ object.image.url }}" target="_blank">
                <img src="{{ object.image.url }}" alt="{{ object.name }}" class="game_image">
            </a>
        {% else %}
            <a href="/media/products_images/default.png" target="_blank">
                <img src="/media/products_images/default.png" alt="{{ object.name }}" class="game_image">
            </a>
        {% endif %}
        <div class="product_short_description_wrap">
            <h2 class="product_header">Описание товара</h2>
            <p class="product_short_description">
                {{ object.short_description|safe }}
            </p>
            <form method="post" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <button class="buy" type="submit">В корзину</button>
            </form>
        </div>
    </div>

    <h2 class="product_header">Характеристики товара</h2>
    <ul class="product_features">
        {{ object.specifications|safe }}
    </ul>

    <h2 class="product_header">Подробное описание товара</h2>
    <div class="product_full_description">
        {{ object.description|safe }}
    </div>
{% endblock %}