{% extends 'categories/base.html' %}
{% load static %}

{% block content %}
    <div class="content_right_header">
        <h1>Каталог</h1>
    </div>
    <div class="content_right_product">
        <div class="product-list-wrapper">
            {% for product in object_list %}
                <div class="catalog_product_unit">
                    <div class="product_img_and_short_descroption">
                        {% if product.image %}
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="catalog_image">
                        {% else %}
                            <img src="{% static 'products/img/default.png' %}" alt="{{ product.name }}" class="product_image">
                        {% endif %}
                        <div class="product_short_description_wrap">
                            <h2 class="product_header">{{ product.name }}</h2>
                            <p class="product_price">{{ product.price_now }} руб.</p>
                            <a href="{% url 'product_detail' product.id %}" class="buy">Купить</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% include 'server/includes/inc_pagination.html' with page=page_obj paginator=paginator %}

    <button id="load-button">Показать все</button>
{% endblock %}

{% block page_scripts %}
    <script>
        const url = 'http://127.0.0.1:8000/products/api/';
        const container = document.querySelector('.content_right_product');

        const loadButton = document.querySelector('#load-button');

        const asyncLoadData = () => {
            fetch(url)
                .then(response => response.json())
                .then(
                    response => {
                        let loadedHtml = '';
                        response.results.map(
                            itm => {
                                loadedHtml += renderProduct(itm)
                            }
                        );
                        container.innerHTML = loadedHtml
                    }
                )
        };

        const renderProduct = ({id, name, price_now, price_old, image_url, status}) => (
            `
            <div class="catalog_product_unit">
                <div class="product_img_and_short_descroption">
                    <img src="${ image_url ? image_url : '/media/products_images/default.png' }" alt="${ name }" class="product_image">
                    <div class="product_short_description_wrap">
                        <h2 class="product_header">${ name }</h2>
                        <p class="product_short_description">${ name }</p>
                        <p class="product_price">${ price_now } ₽</p>
                        <a href="/products/${ id }/" class="buy">Купить</a>
                    </div>
                </div>
            </div>
            `
        );

        loadButton.addEventListener('click', asyncLoadData);
    </script>
{% endblock %}
