{% extends 'server/base.html' %}
{% load static %}

{% block content_right %}
    <div class="content_right_header">
        Наши новинки
    </div>
    <div class="content_right_product">
        {% for _ in ''|rjust:3 %}
            {% for product in obj %}
                {% if product.status == 'new' %}
                    {% include 'server/includes/inc_product.html' with id=product.id status=product.status image=product.image name=product.name price_now=product.price_now price_old=product.price_old %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>

    <div class="content_right_header">
        Хит продаж
    </div>
    <div class="content_right_product">
        {% for _ in ''|rjust:3 %}
            {% for product in obj %}
                {% if product.status == 'hot' %}
                    {% include 'server/includes/inc_product.html' with id=product.id status=product.status image=product.image name=product.name price_now=product.price_now price_old=product.price_old %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>

    <div class="content_right_header">
        Скидки!
    </div>

    <div class="content_right_product">
        {% for _ in ''|rjust:3 %}
            {% for product in obj %}
                {% if product.status == 'sale' %}
                    {% include 'server/includes/inc_product.html' with id=product.id status=product.status image=product.image name=product.name price_now=product.price_now price_old=product.price_old %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
